:root {
  --md-sys-color-primary: rgb(243 252 255);
  --md-sys-color-surface-tint: rgb(173 204 212);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(177 208 216);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(243 252 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(193 205 208);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 252);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(213 197 226);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 20 20);
  --md-sys-color-on-background: rgb(227 226 226);
  --md-sys-color-surface: rgb(18 20 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 74);
  --md-sys-color-on-surface-variant: rgb(246 252 254);
  --md-sys-color-outline: rgb(198 204 206);
  --md-sys-color-outline-variant: rgb(198 204 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 226 226);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(15 46 53);
  --md-sys-color-primary-fixed: rgb(205 236 245);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(177 208 216);
  --md-sys-color-on-primary-fixed-variant: rgb(0 25 31);
  --md-sys-color-secondary-fixed: rgb(221 233 236);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(193 205 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(13 24 27);
  --md-sys-color-tertiary-fixed: rgb(242 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(213 197 226);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 18 39);
  --md-sys-color-surface-dim: rgb(18 20 20);
  --md-sys-color-surface-bright: rgb(56 57 58);
  --md-sys-color-surface-container-lowest: rgb(13 14 15);
  --md-sys-color-surface-container-low: rgb(26 28 28);
  --md-sys-color-surface-container: rgb(30 32 32);
  --md-sys-color-surface-container-high: rgb(41 42 43);
  --md-sys-color-surface-container-highest: rgb(52 53 53);
}