:root {
  --md-sys-color-primary: rgb(173 204 212);
  --md-sys-color-surface-tint: rgb(173 204 212);
  --md-sys-color-on-primary: rgb(23 52 59);
  --md-sys-color-primary-container: rgb(130 160 168);
  --md-sys-color-on-primary-container: rgb(0 13 16);
  --md-sys-color-secondary: rgb(189 200 204);
  --md-sys-color-on-secondary: rgb(39 50 53);
  --md-sys-color-secondary-container: rgb(52 63 66);
  --md-sys-color-on-secondary-container: rgb(200 211 215);
  --md-sys-color-tertiary: rgb(209 192 222);
  --md-sys-color-on-tertiary: rgb(55 44 67);
  --md-sys-color-tertiary-container: rgb(164 149 176);
  --md-sys-color-on-tertiary-container: rgb(15 6 26);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 20 20);
  --md-sys-color-on-background: rgb(227 226 226);
  --md-sys-color-surface: rgb(18 20 20);
  --md-sys-color-on-surface: rgb(227 226 226);
  --md-sys-color-surface-variant: rgb(65 72 74);
  --md-sys-color-on-surface-variant: rgb(193 199 201);
  --md-sys-color-outline: rgb(139 146 148);
  --md-sys-color-outline-variant: rgb(65 72 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 226 226);
  --md-sys-color-inverse-on-surface: rgb(47 49 49);
  --md-sys-color-inverse-primary: rgb(70 99 106);
  --md-sys-color-primary-fixed: rgb(201 232 240);
  --md-sys-color-on-primary-fixed: rgb(0 31 37);
  --md-sys-color-primary-fixed-dim: rgb(173 204 212);
  --md-sys-color-on-primary-fixed-variant: rgb(46 75 82);
  --md-sys-color-secondary-fixed: rgb(217 228 232);
  --md-sys-color-on-secondary-fixed: rgb(19 29 32);
  --md-sys-color-secondary-fixed-dim: rgb(189 200 204);
  --md-sys-color-on-secondary-fixed-variant: rgb(62 73 76);
  --md-sys-color-tertiary-fixed: rgb(237 220 250);
  --md-sys-color-on-tertiary-fixed: rgb(33 23 45);
  --md-sys-color-tertiary-fixed-dim: rgb(209 192 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(78 66 90);
  --md-sys-color-surface-dim: rgb(18 20 20);
  --md-sys-color-surface-bright: rgb(56 57 58);
  --md-sys-color-surface-container-lowest: rgb(13 14 15);
  --md-sys-color-surface-container-low: rgb(26 28 28);
  --md-sys-color-surface-container: rgb(30 32 32);
  --md-sys-color-surface-container-high: rgb(41 42 43);
  --md-sys-color-surface-container-highest: rgb(52 53 53);
}