:root {
  --md-sys-color-primary: rgb(42 71 78);
  --md-sys-color-surface-tint: rgb(70 99 106);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(92 121 129);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(58 69 72);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(107 118 122);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(74 62 86);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(125 111 137);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 249 249);
  --md-sys-color-on-background: rgb(26 28 28);
  --md-sys-color-surface: rgb(250 249 249);
  --md-sys-color-on-surface: rgb(26 28 28);
  --md-sys-color-surface-variant: rgb(221 227 229);
  --md-sys-color-on-surface-variant: rgb(61 68 70);
  --md-sys-color-outline: rgb(90 96 98);
  --md-sys-color-outline-variant: rgb(117 124 126);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 49);
  --md-sys-color-inverse-on-surface: rgb(241 240 241);
  --md-sys-color-inverse-primary: rgb(173 204 212);
  --md-sys-color-primary-fixed: rgb(92 121 129);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(68 96 104);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(107 118 122);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(83 94 97);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(125 111 137);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(100 87 112);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(218 218 218);
  --md-sys-color-surface-bright: rgb(250 249 249);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 243);
  --md-sys-color-surface-container: rgb(238 238 238);
  --md-sys-color-surface-container-high: rgb(233 232 232);
  --md-sys-color-surface-container-highest: rgb(227 226 226);
}