:root {
  --md-sys-color-primary: rgb(70 99 106);
  --md-sys-color-surface-tint: rgb(70 99 106);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(148 178 186);
  --md-sys-color-on-primary-container: rgb(5 38 44);
  --md-sys-color-secondary: rgb(85 96 99);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(218 230 233);
  --md-sys-color-on-secondary-container: rgb(64 75 78);
  --md-sys-color-tertiary: rgb(102 89 114);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(182 167 195);
  --md-sys-color-on-tertiary-container: rgb(40 29 51);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(250 249 249);
  --md-sys-color-on-background: rgb(26 28 28);
  --md-sys-color-surface: rgb(250 249 249);
  --md-sys-color-on-surface: rgb(26 28 28);
  --md-sys-color-surface-variant: rgb(221 227 229);
  --md-sys-color-on-surface-variant: rgb(65 72 74);
  --md-sys-color-outline: rgb(114 120 122);
  --md-sys-color-outline-variant: rgb(193 199 201);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 49);
  --md-sys-color-inverse-on-surface: rgb(241 240 241);
  --md-sys-color-inverse-primary: rgb(173 204 212);
  --md-sys-color-primary-fixed: rgb(201 232 240);
  --md-sys-color-on-primary-fixed: rgb(0 31 37);
  --md-sys-color-primary-fixed-dim: rgb(173 204 212);
  --md-sys-color-on-primary-fixed-variant: rgb(46 75 82);
  --md-sys-color-secondary-fixed: rgb(217 228 232);
  --md-sys-color-on-secondary-fixed: rgb(19 29 32);
  --md-sys-color-secondary-fixed-dim: rgb(189 200 204);
  --md-sys-color-on-secondary-fixed-variant: rgb(62 73 76);
  --md-sys-color-tertiary-fixed: rgb(237 220 250);
  --md-sys-color-on-tertiary-fixed: rgb(33 23 45);
  --md-sys-color-tertiary-fixed-dim: rgb(209 192 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(78 66 90);
  --md-sys-color-surface-dim: rgb(218 218 218);
  --md-sys-color-surface-bright: rgb(250 249 249);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 243);
  --md-sys-color-surface-container: rgb(238 238 238);
  --md-sys-color-surface-container-high: rgb(233 232 232);
  --md-sys-color-surface-container-highest: rgb(227 226 226);
}
